.container {
  width: 3840px;
  height: 1080px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    90deg,
    rgba(48, 63, 255, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.left {
  width: 660px;
  height: 100%;
  border: 1px solid #f00;
}

.middle {
  width: 2520px;
  height: 100%;
  border: 1px solid #0f0;
}

.right {
  width: 660px;
  height: 100%;
  /* background-color: #00f; */
}

.bottom {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 680px;
  width: 3840px;
  height: 400px;
  border: 1px solid pink;
}

.rightHeader {
  width: 520px;
  height: 50px;
}

.rightHeaderBanner {
  width: 400px;
  height: 100%;
  margin-left: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rightHeaderBanner :first-child {
  /* display: flex;
  align-items: center; */
  /* margin-left: 120px; */
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #f9fafc;
  line-height: 14px;
}

.rightHeaderBanner :nth-child(2) {
  /* display: flex;
  align-items: center; */
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #f9fafc;
  line-height: 24px;
}

.rightHeaderBanner :nth-child(3) {
  /* display: flex;
  align-items: center; */
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #f9fafc;
  line-height: 24px;
}

.rightTitleHeader {
  width: 520px;
  margin-top: 32px;
  margin-left: 60px;
}

.rightTitleHeader div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightTitleHeader_icons {
  width: 38px;
  height: 6px;
  /* background-image: linear-gradient(90deg, #64e5ff 0, #303fff 38px);
  clip-path: polygon(0 0, 0 6px, 6px 6px, 6px 0); */
  /* clip-path: polygon(16px 0, 22px 0, 22px 6px, 16px 6px); */
}

.rightTitleHeader_icons__one {
  width: 38px;
  height: 6px;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(90deg, #64e5ff 0, #303fff 38px);
  clip-path: polygon(0 0, 0 6px, 6px 6px, 6px 0);
  /* clip-path: polygon(16px 0, 22px 0, 22px 6px, 16px 6px); */
}

.rightTitleHeader_icons__two {
  width: 38px;
  height: 6px;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(90deg, #64e5ff 0, #303fff 38px);
  /* clip-path: polygon(0 0, 0 6px, 6px 6px, 6px 0); */
  clip-path: polygon(16px 0, 22px 0, 22px 6px, 16px 6px);
}

.rightTitleHeader_icons__three {
  width: 38px;
  height: 6px;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(90deg, #64e5ff 0, #303fff 38px);
  /* clip-path: polygon(0 0, 0 6px, 6px 6px, 6px 0); */
  /* clip-path: polygon(16px 0, 22px 0, 22px 6px, 16px 6px); */
  clip-path: polygon(32px 0, 38px 0, 38px 6px, 32px 6px);
}

.rightTitleHeader_title {
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #64e5ff;
  line-height: 18px;
}

.rightTitleHeader_divider {
  width: 520px;
  height: 1px;
  margin-top: 10px;
  box-shadow: 0px -10px 30px 0px rgba(48, 63, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(48, 63, 255, 0),
    rgba(48, 63, 255, 0.4)
  );
}

.rightTitle_cardList {
  width: 520px;
  margin-left: 60px;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 0 0 50%;
  flex-wrap: wrap;
}

.powerIcon {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* position: absolute;
  left: 1240px;
  top: 300px; */
}

.powerIcon_icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("./public/icon.png");
}

.powerIcon_desc {
}

.bottom_left {
  width: 1200px;
  height: 400px;
  background-color: #ccc;
}

.bottom_middle {
  width: 1440px;
  height: 400px;
  background-color: #aaa;
}

.bottom_right {
  width: 1200px;
  height: 400px;
  background-color: #bbb;
}